* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background-color: rgb(228, 170, 63);
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    justify-content: center;
}

main {
    align-items: center;

    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    width: 450px;  
}

button {
    background-color: rgb(228, 170, 63);
    border: none;
    cursor: pointer;
    padding: 15px;
    width: 100%;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h2 {
    color: rgb(34, 41, 77);
    font-size: 50px;
    font-weight: lighter;
    margin: 60px;
}

#start {
    background-color: rgb(106, 103, 145);
    color: white;
}

#stop {
    background-color: rgb(236, 132, 46);
    color: white;  
}

.check {
    background-color: rgb(34, 41, 77);
    color: white
}

button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}