* {
    margin: 0;
    padding: 0; 
}

#background {
    align-items: center;
    background-color: rgb(191, 197, 201);
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#circle {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;   
    height: 200px;
    overflow: hidden;
    width: 200px;  
}